@model Productos

<h2>Detalle del Producto</h2>

<p><b>ID:</b>@Model.IdProducto</p>
<p><b>Descripcion:</b>@Model.Descripcion</p>
<p><b>Precio:</b>@Model.Precio</p>

<a class="btn btn-primary" href="/Productos">Volver</a>