@model List<Productos>

<h2>Productos</h2>

<a class="btn btn-success mb-3"
   asp-controller="Productos"
   asp-action="Create">
    Crear Producto
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripcion</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.IdProducto</td>
                    <td>@p.Descripcion</td>
                    <td>@p.Precio</td>
                </tr>
            }
        </tbody>
</table>