@model tl2_tp8_2025_NahuelCondori99.PresupuestoViewModel

<h2>Crear Presupuesto</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NombreDestinatario"></label>
        <input asp-for="NombreDestinatario" class="form-control" />
        <span asp-validation-for="NombreDestinatario" class="text-danger"></span>
    </div>

    <button class="btn btn-success" type="submit">Crear</button>
    <a class="btn btn-secondary" href="/Presupuestos">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}